{% extends 'base.html' %} {% block head%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
</script>

{% endblock %} {% block body %}
<form action="">
  <label for="userType">Choose User Type</label>
  <select name="userType" id="userType" onchange="changeUserType(this.value)">
    <option value="Cliente">Cliente</option>
    <option value="Intructor">Instructor</option>
  </select>
</form>
<form method="POST">
  {% csrf_token %} {{ formInstructor.as_p }}
  <input type="submit" value="guardar" />
</form>

<form method="POST">
  {% csrf_token %} {{ formCliente.as_p }}
  <input type="submit" value="guardar" />
</form>

<p id="form"></p>

{% endblock %}